<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <li v-for="gestion in gestiones">
    {{gestion.id}} {{gestion.desc}} {{gestion.prioridad}}
  </li>

  <p>
    Id <input v-model="gestion.id">
    Desc <input v-model="gestion.desc">
    Prio <input v-model="gestion.prioridad">
  </p>

  <button @click="agregar">Agregar</button>
  <button @click="ordenarPorPrioridad">OrdenarPorPrioridad</button>
</div>

<script src="listas.js"> </script>

</body>
</html>